<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fashon Feet</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
      <!-- Theme style -->
 <link rel="stylesheet" href="dist/css/adminlte.min.css">
 <!-- Google Font: Source Sans Pro -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
 <!-- Font Awesome -->
 <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
 <!-- Ionicons -->
 <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body>
    
    <h4 class ="c1">Add a new Product</h4>

    <form action="/AddData" method="POST">

        <section class="content">
            <div class="row">
              <div class="col-md-4">
                <form action="/create" method="POST">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Ladies Footware</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div> 
                  <div class="card-body">
                    <div class="form-group">

        <label for="inputName" >Product Id:</label>
        <input type="number" placeholder ="Enter product ID"class="form-control" name="pid"><br>
        
    </div>
    <div class="form-group"> 

        <label for="inputDescription">Product Category:</label>&nbsp;
        <input type="text" placeholder ="Enter category" class="form-control" name="category"><br>
    
    </div>
    <div class="form-group">

        <label>Type of the product:</label>&nbsp;
        <input type="text" placeholder ="Enter type" id="inputName" class="form-control"  name="type"><br>

    </div>
    <div class="form-group">

        <label>Size:</label>
        <input type="number" placeholder ="Enter size" id="inputClientCompany" class="form-control" name="size"><br>

    </div>
    <div class="form-group">

        <label>Stock:</label>&nbsp;
        <input type="number" placeholder ="Enter quantity"  id="inputProjectLeader" class="form-control" name="stock" ><br>

    </div>
    <div class="form-group">

        <label>Cost Price:</label>&nbsp;
        <input type="number" placeholder ="Enter cost" name="cost" id="inputProjectLeader" class="form-control" ><br>

    </div>
    <div class="form-group">

        <label>Selling Price:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder ="Enter price" name="sp" id="inputProjectLeader" class="form-control"><br>

    </div>
</div>
<div class="row">
    <div class="col-4" style="left: -20px; bottom: 10px;">


       <!-- <input type="button" value="AddData" class="btn btn-success float-right">-->
       <a href="/">
        <button type="submit" class="btn btn-success float-right">Create</button>
      </a>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>
</section>


    </form>
    
  <!--  <a href="/" class="c2">Home Page</a>-->
</body>
</html>